<h1>Ejemplo Session</h1>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>

<a asp-controller="Home" asp-action="EjemploSession"
   asp-route-accion="almacenar">Almacenar Session</a>
<a asp-controller="Home" asp-action="EjemploSession"
   asp-route-accion="mostrar">Mostrar Session</a>

<h2 style="color:blue">
    Usuario Session: @ViewData["usuario"]
</h2>

<h2 style="color:blueviolet">
    Hora almacenada Session @ViewData["hora"]
</h2>